# Dependencies
node_modules
**/node_modules

# Git
.git
.gitignore

# Docs
README.md

# Environment
.env
.env.*

# VS Code
.vscode

# Logs
*.log

# Build Output
dist
frontend/dist
backend/dist

# OS Files
.DS_Store
Thumbs.db

# Notes
.notes
